---
import { directus } from '../../lib/directus';
import { readItems } from '@directus/sdk';

const artikel = await directus.request(
  readItems('Artikel', {
    filter: {
      status: {
        _eq: 'published'
      }
    },
    fields: ['id', 'title', 'slug', 'excerpt']
  })
);
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Artikel</title>
  </head>
  <body>
    <h1>Artikel</h1>

    <ul>
      {artikel.map((item) => (
        <li>
          <a href={`/artikel/${item.slug}`}>
            {item.title}
          </a>
          {item.excerpt && <div set:html={item.excerpt} />}
        </li>
      ))}
    </ul>
  </body>
</html>