---
import { directus } from '../lib/directus';
import { readItems } from '@directus/sdk';

const navigation = await directus.request(
  readItems('navigation', {
    filter: {
      status: {
        _eq: 'published'
      }
    },
    fields: ['id', 'title', 'url', 'sort'],
    sort: ['sort']
  })
);
---

<header id="page" class="header px-vw-10 pt-2 pb-2 content bg-black-trans-10">
  <section id="logo" class="right py-2">
    <div class="container header-inner">
      <a class="logo" href="/">Directus Astro</a>

      <nav class="main-nav" aria-label="Hauptnavigation">
        {navigation.map((item) => (
          <a href={item.url}>{item.title}</a>
        ))}
      </nav>
    </div>
  </section>
</header>