---
import '../styles/coolstrap.css';
import '../styles/spacing.css';
import '../styles/global.css';
import '../styles/standards.css';
import '../styles/menu.css';
import '../styles/mobile.css';

import Head from '../components/layout/Head.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Testseite',
  description = 'Website mit Directus und Astro',
} = Astro.props;
---

<!doctype html>
<html lang="de">
	<head>
		<Head title={title} description={description} />
	</head>
	<body class="finisher-header">
		<Header />
		<slot />
		<Footer />
	</body>
</html>