---
import Layout from '../layouts/Layout.astro';
import About from '../components/index/About.astro';
import Posts from '../components/index/Posts.astro';
---

<Layout>

  <main>
    <article>
      <i class="icon-home font-white"></i>
      <Posts />
      <About />
    </article>
  </main>

</Layout>
